# Django Settings
DJANGO_DEBUG=True                  # Set False for production
SECRET_KEY=&-nkk-+5v*r3_^ky^)+e59euei%mr#)3jaa4!c!zys$n1*z%u-
ALLOWED_HOSTS=localhost,127.0.0.1

# Database (PostgreSQL on Neon for production, SQLite for local dev)
# Leave empty for local SQLite, fill for production PostgreSQL
DATABASE_URL=postgresql://user:password@host:port/dbname

